.App {
    max-width: 992px;
    background-color: #fff;
    margin: auto;
}
body {
    background-color: lightblue;
    padding: 3px 8px;

}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* top Navbar */
.nav {
    border-bottom: 1px solid grey;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #282c34;

}
.nav-menu {
    list-style: none;
}
.nav-menu li {
    display: inline-block;
}
.nav-menu__link {
    display: inline-block;
    margin: 5px;
    border: 1px solid lightgray;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

/*end top navbar*/
.App-link {
  color: #61dafb;
}
