.App {
    max-width: 992px;
    background-color: #fff;
    margin: auto;
}
body {
    background-color: lightblue;
    padding: 3px 8px;

}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* top Navbar */
.nav {
    border-bottom: 1px solid grey;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #282c34;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: -1;


}
.nav-menu {
    list-style: none;
}
.nav-menu li {
    display: inline-block;
}
.nav-menu__link {
    display: inline-block;
    margin: 5px;
    border: 1px solid lightgray;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

/*end top navbar*/
/* .fixed{
    width: 200px;
}
.flex-item{
    flex-grow: 1;
} */
.container{
    text-align: center;
}
.search{
    text-align: center;
    max-width: 500px;
    margin: auto;
    border: 3px solid #73AD21;
}
.containerTwo{
    max-width: 500px;
    margin: auto;
    border: 3px solid #73AD21;
}

/*for sidebar*/
.sidebar {
  max-width: 240px;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.img{
  width: 30%;
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

/*another sidebar*/
.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: 89cff0;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
