
.sideMenu{
    width: 300px;
    height: 500px;
    float: left;
    border-style: solid;
    border-width: 2px;
}

.topBar{
    position: relative;
    left: 300px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
}

.workingArea{
    position: relative;
    left: 300px;
    border-style: solid;
    border-width: 2px;
}