*.iml
.gradle/
/local.properties
.gradle.properties
/.idea/
gradle.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
google_maps_api_key.xml
google_maps_api+key.xml
google-services.json
node_modules