* {
  padding: 0;
  margin: 0;
}

.Wrapper {
  height: 100%;
}

.FlexWrapper {
  display: flex;
  flex-direction: row;
  min-height: 77%;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
}