/* * {
  padding: 0;
  margin: 0;
}

header {

    /* border-style: solid;
    border-width: 2px;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
} */

/* top Navbar
.TopBar {
    border-bottom: 1px solid grey;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    background-color: #3e4451;
    opacity: 1;
    z-index: -1;

}
.button {
    display: inline-block;
    margin: 5px;
    border: 1px solid lightgray;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

/*end top navbar*/
header{
  display: flex;
  border-style: solid;
  border-width: 2px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
}

img {
  height: 100px;
}

.logo-flexbox {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.interactive-flexbox {
  display: flex;
  justify-content: flex-end;
}

.top-bar-link {
  margin: auto;
  padding-left: 3px;
  padding-right: 3px;
  text-align: center;
}
